@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body{
  background: linear-gradient(to right,  rgb(127, 114, 208), violet)
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
img{
  width: 100%;
  height: 200px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.product{
  width: 300px;
  height: 350px;
}
.bk-btn{
  border: none;
  background-color: yellow;
  color: black;
  padding: 7px 10px;
}
.product{
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  gap:20px;
  flex-wrap: wrap;
  border: 1px solid rgb(241, 173, 166);
  border-radius: 10px;
}
.products{
  gap:20px;
}
.product:hover{
  margin-top: -2px;
}
.bk-btn:hover{
  background-color: salmon !important;
}
.name{
  font-family: 'Staatliches', sans-serif;
}
.product-bike{
  display: flex;
  background-color: white;
  padding: 10px;
  gap: 30px;
  border-radius: 10px;
  min-height: 350px;
  padding-bottom: 20px;
  padding-right: 20px;
}
td, th{
  text-align: left !important;
}
.product-bike img{
  border-radius: 10px;
}
th, td{
  padding: 7px;
  margin: 40px;
}
.note1{
  color: rgb(169, 78, 169);
  text-transform: uppercase;
}
.success{
  width: 250px;
  height: 150px;
  border-radius: 10px;
}
.logo-img{
  width: 150px;
  height: 60px;
  border-radius: 7px;
}
.sign{
  width: 100%;
  /* background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; */
  /* border-bottom: 1px solid salmon; */
}
.login-btn{
  border: none;
  padding: 5px 15px;
  border-radius: 7px;
  cursor: pointer;
  background-color: yellow;
}
.bxx{
  width: 60%;
}
@media only screen and (max-width:570px){
  .bxx{
    width: 80%;
  }
}
@media only screen and (max-width:450px){
  .bxx{
    width: 100%;
  }
}
.btn-sign{
  padding: 7px 15px;
  border-radius: 7px;
  border: none;
  background: red;
  color: white;
}
.btn-sign:hover{
  background: linear-gradient(90.4deg, rgb(248, 52, 246) 0.6%, rgb(152, 38, 252) 90%);
}
.login-cont{
  width: 330px;
  height: 400px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  border: 1px solid salmon;
}
.signup-btn{
  padding: 7px 15px;
  border-radius: 7px;
  border: none;
  background: red;
  color: white;
}
.signup-btn:hover{
  background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
}
.logout-btn{
  position: absolute;
  right: 10px;
  top: 15px;
}
.username{
  font-weight: 800;
  text-align: left;
  text-transform: uppercase;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: whitesmoke;
  font-size: 26px;
  margin-top: 10px;
  margin-left: 26px;
  text-shadow: 5px 0px 5px black !important;
}
.nav-bar{
  position: sticky;
  top: 0;
}
.bt{
  background-color: black !important;
  color: white !important;
}
.bike-data{
  width: 330px;
  height: 400px;
  background-color: white;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 8px;
}
.booked-bikes{
  gap:20px;
  padding: 5px;
  margin-bottom: 20px;
  /* width: 340px; */
  width: 100%;
}
body{
  position: relative;
}
.spn{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spn1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spn3{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spn2{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.spn5{
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.frt{
  cursor: pointer;
}
.frt:hover{
  text-decoration: underline;
}